= render 'shared/errors', obj: list
= form_with(model: list, local: true) do |form|
  = form.label :title
  = form.text_field :title
  %p Items:
  %ul
  - list.items.each do |item|
    - if item.content
      %li=item.content
  = form.fields_for :items do |items_form|
    = items_form.label :new_item
    = items_form.text_field :content
  = form.submit