%section.top
  %h2 Your lists
  = link_to "Create +", new_list_path
- @lists.each do |list|
  %details
    %summary
      %div
        %p=list.title
        %p #{link_to "Edit", edit_list_path(list) } | #{link_to "Delete", list_path(list), data: { confirm: "Are you sure", turbo_method: "delete"}}
    %ul
      - list.items.each do |item|
        %li=item.content