%p Your lists:
- @lists.each do |list|
  %details
    %summary
      = list.title
      |
      = link_to "Edit", edit_list_path(list)
    %ul
      - list.items.each do |item|
        %li=item.content
