= render "shared/errors", obj: bookmark
= form_with(model: bookmark, local: true) do |form|
  = form.label :title
  = form.text_field :title
  = form.label :url
  = form.text_field :url
  = form.label :description
  = form.text_field :description
  = form.submit