%section.top
  %h2 Your bookmarks
  = link_to "Create +", new_bookmark_path
- @bookmarks.each do |bookmark|
  %details
    %summary=bookmark.title
    %div
      %p= bookmark.url
      %p=bookmark.description
      %p #{link_to "Edit", edit_bookmark_path(bookmark) } | #{link_to "Delete", bookmark_path(bookmark), data: { confirm: "Are you sure", turbo_method: "delete"}}
