%h1 Bookmark ##{@bookmark.id}
%h2=@bookmark.title
%p=@bookmark.url
%p=@bookmark.description
%div
  = link_to "Edit", edit_bookmark_path(@bookmark)
  |
  = link_to "Delete", bookmark_path(@bookmark), data: { confirm: "Are you sure", turbo_method: "delete" }