= render 'shared/errors', obj: note
= form_with(model: note, local: true) do |form|
  = form.label :title
  = form.text_field :title
  = form.label :description
  = form.text_area :description
  = form.submit