%section.top
  %h2 Your notes
  = link_to "Create +", new_note_path
- @notes.each do |note|
  %details
    %summary
      %span=note.title
    %blockquote=note.description
    %p #{link_to "Edit", edit_note_path(note) } | #{link_to "Delete", note_path(note), data: { confirm: "Are you sure", turbo_method: "delete"}}

