%p Tachuela is a personal project. Originally created to get my first developer job with Vue.js and now re-done in Rails.
%p
  You can 
  %a{href: "/start"} get started 
  and and play around or
  learn more 
  %a{href: "/about"} about it.