- if @user
  %p 
    Hello 
    %strong #{@user.username},
    care to tell us your password?
  = form_with scope: :session, url: signin_path do |form|
    = form.hidden_field :username, value: @requested_username
    = form.label :password 
    = form.password_field :password 
    = form.submit "Sign in" 
- else
  %p We could not find that user, enter a password to create one
  = form_with scope: :user, url: users_path do |form|
    = form.hidden_field :username, value: @requested_username 
    = form.label :password 
    = form.password_field :password 
    = form.submit "Sign up"