%p Have used Tachuela before? Give us your username, if not we will create a new user for you.
= form_with scope: :user, method: :post do |form|
  = form.label :username
  = form.text_field :username
  = form.submit