html {
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: "aside header" "aside main";
  padding: 0;
  height: 100vh;
}

header {
  grid-area: header;
  border-bottom: 1px solid #80808043;
  padding: 20px;
}

header nav {
  padding-left: 5px;
}

header nav ul {
  display: flex;
}

header hgroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

aside {
  grid-area: aside;
  border-right: 1px solid #80808043;
  padding: 15px;
}

main {
  grid-area: main;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}

main .top h2 {
  margin: 0;
}

main .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TODO: Dedupe these styles found also in application.css */
.flash {
  position: absolute;
  bottom: 50px;
  padding: 10px;
  right: -400px;
  border: 2px solid black;
  border-radius: 5px;
  animation: flash-in 8s ease-out;
}

.flash.notice::after {
  background-color: #21e299;
}

.flash.alert::after {
  background-color: #d93526;
}

@keyframes flash-in {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-450px);
  }
  90% {
    transform: translateX(-450px);
  }
  100% {
    transform: translateX(0%);
  }
}
