body {
  padding: var(--pico-block-spacing-vertical);
}

.flash {
  position: absolute;
  top: 20px;
  right: 20px;
  animation: flash 0.5s ease-in;
}

.flash::after {
  content: "";
  width: 5px;
  position: absolute;
  height: 100%;
  margin-left: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.flash.notice::after {
  background-color: #21e299;
}

.flash.alert::after {
  background-color: #d93526;
}

@keyframes flash {
  from {
    right: -300px;
  }
}
