!!!
%html
  %head
    %title TachuelaRails
    %meta{name: "vieport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header
      = render 'shared/navigation'
      = render 'shared/flash'
    %main.container
      = yield