!!!
%html
  %head
    %title TachuelaRails
    %meta{name: "vieport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "dashboard", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"}
  %body
    %header
      = render 'shared/flash'
      %hgroup.container
        %h1 Tachuela on Rails 📌
        = render 'shared/navigation'
      %nav
        %ul
          %li=link_to "Bookmarks", "/dashboard/bookmarks"
          %li=link_to "Notes", "/dashboard/notes"
          %li=link_to "Lists", "/dashboard/lists"
    %aside
      = render 'shared/sidebar'
    %main
      = yield