
!!!
%html
  %head
    %title Tachuela Rails
    %meta{name:"viewport", content:"width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "pages", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"}
  %body
    %header
      = render 'shared/flash'
    %hgroup.container
      %h1 Tachuela on Rails 📌
      %p Create notes, lists and bookmarks
    %main.container
      = yield
